/* Font Face */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-regular.woff2') format('woff2')
}

body {
    margin: 0;
    color: #2f2f2f;
    font: 14px "Roboto", "Times New Roman", Times, serif;
    font-weight: 600;
    background: #f2f2f2;
    min-width: 1000px;
}

a {
    color: #2a90d7;
    text-decoration: none;
}

a:hover {
    color: #34689b;
    text-decoration: underline;
}

input[type="text"], input[type="email"], input[type="password"] {
    color: #000;
    font: 14px "Roboto", "Times New Roman", Times, serif;
}

.input-text {
    padding: 0 12px;
    height: 32px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input-text:focus {
    border-color: #77bef2;
    box-shadow: 0 0 5px #77bef2;
}

.button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 9px 13px 8px 12px;
    background: #fff;
}

.button:disabled {
    cursor: default;
}

.button:hover {
    background: #ccc;
}

.button-primary {
    border-color: #2e6da4;
    background: #0085d3;
    color: #fff;
}

.button-primary:disabled {
    background: #7ab0de;
    border-color: #80a0c1;
}

.button-primary:not([disabled]):hover {
    background: #286090;
    border-color: #204d74;
}

.button-danger {
    border-color: #c64b41;
    background: #cb5c54;
    color: #fff;
}

.button-danger:disabled {
    background: #dd9590;
    border-color: #da8a83;
}

.button-danger:not([disabled]):hover {
    background: #bb3e35;
    border-color: #ad4c44;
}

.error-text {
    color: #f00;
}

.success-text {
    color: #26b926;
}

.primary-text {
    color: #2e6da4;
}

.error-text .glyphicon {
    color: #f00;
    font-size: 14px;
}

.icon-button {
    border: none;
    background: none;
    padding: 1px 0;
    font-size: 20px;
}

.icon-button .glyphicon-download {
    color: #2e6da4;
}

.icon-button:hover .glyphicon-download {
    color: #115281;
}

.icon-button .glyphicon-upload {
    color: #26b926;
}

.icon-button:hover .glyphicon-upload {
    color: #097c09;
}

.icon-button .glyphicon-remove-circle {
    color: #cb5c54;
}

.icon-button:hover .glyphicon-remove-circle {
    color: #a81c12;
}

.button-group .button {
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
}

.button-group .button:not(:first-child) {
    border-left: 0;
}

.button-group .button:first-child {
    margin-right: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.button-group .button:last-child {
    margin-left: 0;
    border-left: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.glyphicon-repeat {
    animation: 0.5s ease-in-out infinite running rotate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.wrapper {
    width: 562px;
    margin: 0 auto;
}

.table-page-wrapper {
    width: 1142px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding-left: 1px;
    padding-top: 31px;
    margin-bottom: 25px;
}

.authorized-user-panel,
.breadcrumb,
.social-icons,
.modal-buttons {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.breadcrumb {
    justify-content: start;
    width: max-content;
    padding: 10px 15px 9px;
    margin: 1px 0 20px;
    background: #f3f3f3;
    border-radius: 5px;
}

.breadcrumb .glyphicon-repeat {
    color: #000;
}

.breadcrumb li {
    color: #999999;
}

.breadcrumb li::after {
    content: "/";
    color: #ccc;
    padding: 0 9px 0 8px;
}

.breadcrumb li:last-child::after {
    content: "";
    padding: 0;
}

.authorized-user-panel {
    margin: 18px 6px 0 0;
}

.authorized-user-panel li {
    color: #999;
    padding: 1px 8px 1px 0;
    margin-right: 8px;
    border-right: 1px solid #000;
}

.authorized-user-panel li:last-child {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
}

.container {
    padding: 19px 20px 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 21px;
    box-shadow: 0 0 20px #999;
    margin-bottom: 24px;
}

.modal-container {
    background: #fff;
    padding: 11px 15px 1px;
    margin: 32px auto 0;
    width: 448px;
    border-radius: 19px;
}

.modal header {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
}

.modal header h3 {
    margin-top: 5px;
    font-size: 24px;
}

.modal header a {
    font-size: 19px;
    color: #ccc;
    height: fit-content;
}

.modal header a:hover {
    text-decoration: none;
    color: #999;
}

.modal-body {
    margin-top: -1px;
    margin-bottom: 17px;
}

.modal .form-row-input .input-text {
    width: 422px;
    margin-bottom: 4px;
}

.modal .form-row-input .error-text {
    padding-bottom: 1px;
}

.modal footer {
    display: flex;
    justify-content: right;
}

.modal-buttons .button {
    margin-left: 8px;
}

.modal-buttons .button .glyphicon {
    margin-top: -1px;
}

.modal-text {
    margin: 2px 0;
}

.container h1 {
    margin: -1px 0 8px;
    font-size: 30px;
    font-weight: 500;
}

.input-error {
    border-color: #f00;
}

.form-row,
.form-button-container,
.table-tool-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-row {
    margin-bottom: 15px;
}

.form-row label {
    align-self: start;
    padding-top: 9px;
    font-weight: 900;
}

.form-row-input .input-text {
    width: 311px;
}

.form-row-input .error-text {
    margin-bottom: 1px;
}

.form-row-input .input-error {
    margin-bottom: 7px;
}

.input-error:focus {
    border-color: #ff2323;
    box-shadow: 0 0 5px #f00;
}

.form-button-container {
    width: 337px;
    margin: 0 0 15px 183px;
}

.form-button-container a {
    margin-top: 2px;
    font-weight: 600;
}

.horizontal-line {
    height: 1px;
    border: 0;
    background: #000;
    margin-bottom: 20px;
}

.table-tool-bar {
    margin-bottom: 15px;
}

.search-line {
    display: flex;
    margin-top: -1px;
}

.search-line .button {
    white-space: nowrap;
    border: none;
    padding: 2px 14px 2px 13px;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.search-line .input-text {
    width: 441px;
    height: 32px;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.search-line-loading .input-text {
    width: 424px;
    height: 32px;
}

.search-line-loading .button {
    width: 86px;
    height: 34px;
}

.button-group {
    display: flex;
    font-weight: 900;
}

.button-group .button {
    font-size: 14px;
    padding: 7px 12px 8px 12px;
}

.table-wrapper {
    height: 450px;
    overflow-y: auto;
}

.centered-in-table {
    border-top: 1px solid #ccc;
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
    color: #aaa;
}

.centered-in-table .glyphicon-repeat {
    color: #000;
    font-size: 20px;
}

.data-table {
    border-spacing: 0;
}

.data-table tr:hover {
    background: #f5f5f5;
}

.data-table td {
    border-top: 1px solid #d9d9d9;
    padding: 10px 0;
}

.data-table .cell-arrow {
    width: 24px;
    text-align: end;
}

.data-table .cell-icon {
    width: 41px;
    text-align: end;
    font-size: 20px;
}

.data-table .cell-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 620px;
    width: 620px;
    padding: 2px 25px 1px;
}

.data-table .name-edit-form .input-text {
    margin-left: -13px;
    width: 287px;
}

.name-edit-form-loading .input-text {
    height: 32px;
    width: 285px;
    margin-right: 5px;
}

.name-edit-form .input-error {
    margin-top: 3px;
    margin-bottom: 6px;
    height: 32px;
    width: 286px;
}

.name-edit-form .error-text {
    margin-left: -13px;
    margin-bottom: 6px;
    font-size: 12px;
}

.data-table .cell-type {
    width: 130px;
    padding-top: 11px;
}

.data-table .cell-size {
    width: 130px;
    text-align: end;
    padding-top: 11px;
}

.data-table .cell-buttons {
    width: 84px;
    text-align: end;
    padding-top: 8px;
}

.data-buttons-container {
    margin-right: 13px;
    visibility: hidden;
}

.data-table tr:hover .data-buttons-container {
    visibility: visible;
}

.container .error-label-container {
    color: #f00;
    font-weight: 600;
    margin: -8px 0 16px 183px;
}

.page-footer {
    text-align: center;
}

.social-icons {
    padding-left: 0;
    margin-left: -2px;
    margin-bottom: 8px;
}

.social-icons li {
    padding: 0 7px 0 6px;
}

.social-icons a:hover {
    text-decoration: none;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.copyright {
    margin-top: 0;
    color: #999;
}
