/* Font Face */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-regular.woff2') format('woff2')
}

body {
    margin: 0;
    color: #2f2f2f;
    font: 14px "Roboto", "Times New Roman", Times, serif;
    font-weight: 600;
    background: #f2f2f2;
    min-width: 1000px;
}

a {
    color: #2a90d7;
    text-decoration: none;
}

a:hover {
    color: #34689b;
    text-decoration: underline;
}

input[type="text"], input[type="email"], input[type="password"] {
    color: #000;
    font: 14px "Roboto", "Times New Roman", Times, serif;
}

.input-text {
    padding: 0 12px;
    height: 32px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input-text:focus {
    border-color: #77bef2;
    box-shadow: 0 0 5px #77bef2;
}

.button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 9px 13px 8px 12px;
    background: #fff;
}

.button:hover {
    background: #ccc;
}

.button-primary {
    border-color: #2e6da4;
    background: #0085d3;
    color: #fff;
}

.button-primary:hover {
    background: #286090;
    border-color: #204d74;
}

.button-danger {
    border-color: #c64b41;
    background: #cb5c54;
    color: #fff;
}

.button-danger:hover {
    background: #bb3e35;
    border-color: #ad4c44;
}

.error-text {
    color: #f00;
}

.error-text .glyphicon {
    color: #f00;
    font-size: 14px;
}

.group-left-element {
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.inline-button {
    border: none;
    background: none;
    padding: 1px 0;
    font-size: 20px;
}

.inline-button-primary {
    color: #2e6da4;
}

.inline-button-primary:hover {
    color: #115281;
}

.inline-button-success {
    color: #26b926;
}

.inline-button-success:hover {
    color: #097c09;
}

.inline-button-danger {
    color: #cb5c54;
}

.inline-button-danger:hover {
    color: #a81c12;
}

.group-mid-element {
    margin-right: 0;
    margin-left: 0;
    border-left: 0;
    border-radius: 0;
}

.group-right-element {
    margin-left: 0;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.glyphicon-repeat {
    animation: 0.5s ease-in-out infinite running rotate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.wrapper {
    width: 562px;
    margin: 0 auto;
}

.table-page-wrapper {
    width: 1142px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding-left: 1px;
    padding-top: 31px;
    margin-bottom: 25px;
}

.authorized-user-panel {
    margin: 18px 6px 0 0;
}

.authorized-user-panel .user-info {
    color: #999999;
    padding: 2px 6px;
    margin-right: 8px;
    border-right: 2px solid #000;
}

.authorized-user-panel .logout-button {
    margin-left: -2px;
}

.container {
    padding: 19px 20px 10px;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 21px;
    box-shadow: 0 0 20px #999;
}

.container h1 {
    margin: -1px 0 8px;
    font-size: 30px;
    font-weight: 500;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-row label {
    font-weight: 900;
}

.form-row .input-text {
    width: 311px;
}

form .error-input {
    border-color: #f00;
}

form .error-input:focus {
    border-color: #ff2323;
    box-shadow: 0 0 5px #ff0000;
}

.form-button-container,
.table-tool-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-button-container {
    width: 337px;
    margin: 0 0 15px 183px;
}

.form-button-container a {
    margin-top: 2px;
    font-weight: 600;
}

.table-container {
    padding-bottom: 10px;
    margin-bottom: 24px;
}

.breadcrumb-container {
    margin: 10px 0 30px 0;
}

.breadcrumb {
    padding: 9px 15px;
    border-radius: 5px;
    background: #f5f5f5;
}

.breadcrumb .glyphicon {
    margin-top: -1px;
}

.breadcrumb-item {
    color: #999999;
}

.breadcrumb-separator {
    color: #cccccc;
    padding: 0 5px;
}

.horizontal-line {
    height: 1px;
    border: 0;
    background: #000;
    margin-bottom: 20px;
}


.table-tool-bar {
    margin-bottom: 15px;
}

.search-line {
    display: flex;
    margin-top: -1px;
}

.search-line .button {
    border: none;
    padding: 2px 14px 0;
}

.search-line input {
    width: 441px;
    height: 32px;
    margin-right: 0;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.search-line-loading input {
    width: 424px;
    height: 32px;
}

.search-line-loading .button {
    width: 86px;
    height: 34px;
}

.button-group {
    display: flex;
    font-weight: 900;
}

.button-group .button {
    height: 34px;
    width: 39px;
    padding-top: 5px;
    padding-left: 12px;
}

.table-wrapper {
    height: 450px;
    overflow-y: auto;
}

.centered-in-table {
    border-top: 1px solid #ccc;
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
    color: #aaa;
}

.centered-in-table .glyphicon-repeat {
    color: #000;
    font-size: 20px;
}

.data-table {
    border-spacing: 0;
}

.data-table tr:hover {
    background: #f5f5f5;
}

.data-table td {
    border-top: 1px solid #d9d9d9;
    padding: 10px 0;
}

.data-table .cell-arrow {
    width: 24px;
    text-align: end;
}

.data-table .cell-icon {
    width: 41px;
    text-align: end;
    font-size: 20px;
}

.data-table .cell-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 620px;
    padding: 2px 25px 1px;
}

.data-table .name-edit-form .input-text {
    margin-left: -13px;
    width: 287px;
}

.name-edit-form-loading .input-text {
    height: 32px;
    width: 285px;
    margin-right: 5px;
}

.name-edit-form .error-input {
    margin-top: 3px;
    margin-bottom: 6px;
    height: 32px;
    width: 286px;
}

.name-edit-form .error-text {
    margin-left: -13px;
    margin-bottom: 6px;
    font-size: 12px;
}

.data-table .cell-type {
    width: 130px;
}

.data-table .cell-size {
    width: 130px;
    text-align: end;
}

.data-table .cell-buttons {
    width: 84px;
    text-align: end;
    padding-top: 8px;
}

.data-buttons-container {
    margin-right: 13px;
    visibility: hidden;
}

.data-table tr:hover .data-buttons-container {
    visibility: visible;
}

.container .error-label-container {
    color: #f00;
    font-weight: 600;
    margin: -8px 0 16px 183px;

}

.page-footer {
    text-align: center;
}

.social-link-container {
    margin-left: -4px;
    margin-bottom: 8px;
}

.social-link {
    padding: 5px;
}

.social-link img {
    width: 20px;
    height: 20px;
}

.social-link:hover {
    text-decoration: none;
}

.copyright {
    color: #999999;
}
